
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #EEEEFF;
}

body, html {
    height: 100%;
    margin: 0;
}

#homepage {
    /* Image source: https://www.pexels.com/photo/multicolored-abstract-painting-2868948/ */
    background: url(../images/sharpbackground.jpg);
    background-color: #000;
    background-size: cover;
    height: 80%;
}

#aboutpage, #contactpage, #workspage {
    background: url(../images/blurrybackground.jpg);
    background-color: #483943;
    background-attachment: fixed;
    height: 100%;
    scrollbar-width: none;
}

#workspage {
    height: 100%;
}

.nav_links{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none; 
    font-weight: bold;
    top: 300px;
    width: 100%;

}

p {
    margin: 20px;
}

nav {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    background-color: #ded3dc;
    position: absolute;
    z-index: 300;
    
}

/* following animation code is from https://w3bits.com/animated-menu-icon-css/ modified to fit project*/

#hamburger {
    width: 40px;
    position: absolute;
    top: 0;
    margin-left: 3px;
    margin-top: 1px;
    cursor: pointer;
    z-index: 301;
}
  
#hamburger:after, #hamburger:before, #hamburger div {
    background-color: #3A405A;
    border-radius: 6px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
    animation-play-state: paused; 
    animation-fill-mode:backwards;
}

#hamburger.open::before {
    transform: translateY(12px) rotate(135deg);
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#hamburger.open::after {
    transform: translateY(-12px) rotate(-135deg);
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#hamburger.open div {
    transform: scale(0);
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.topbar {
    height: 50px;
    background-color: #B8A3B6; 
    z-index: 302;
}

.nav_links a {
    text-decoration: none; 
    color: black;
}

#homepage .nav_links #home a {
    font-weight: bold;
    font-size: 50px;
    color: #2929FF;
}

#aboutpage .nav_links #about a {
    font-weight: bold;
    font-size: 50px;
    color: #2929FF;
}

#contactpage .nav_links #contact a {
    font-weight: bold;
    font-size: 50px;
    color: #2929FF;
}

#workspage .nav_links #works a {
    font-weight: bold;
    font-size: 50px;
    color: #2929FF;
}



.skip a{
    background: white;
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}
.skip a:focus {
    position: absolute;
    top: -10px;
}

h1{
    font-size: 60px;
    margin: 20px;
    text-align: center;
    font-weight: lighter;
    color: #0B9FF5;
    text-shadow:
        -1px -1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        1px 1px 0 #000;
}

h2 {
    text-shadow:
        -1px -1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        1px 1px 0 #000;
}

#contactpage p {
    text-shadow:
        -1px -1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        1px 1px 0 #000;
}

#homepage h1 {
    font-size: 75px;
    margin-top: 3%;
    color: #EEEEFF;
}

#selfportrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    margin-top: 0;
}

.headshot {
    display: block;
    width: 35vw;
    height: 40vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: -50;
    width: 90%;
    overflow: hidden;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;

}

#homepage main {
    top: 200px;
}

#homepage footer {
    position: fixed;
}

body {
    font-family: "Nanum Gothic", sans-serif;
}

#homepage h2 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
    color: white;
}

#aboutpage img {
    border-radius: 20px;
    margin-bottom: 25px;
}

/* Works */

.container {
    display: grid;
    grid-template-columns: repeat(1, 80vw);
    grid-template-rows: 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw 80vw;
    justify-content: center;
    grid-gap: 50px;
    position: relative;
    bottom: 0;
}

.grid-image img:hover {
    opacity: 55%;
}

.grid-image img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
    height: 80vw;
    width: 80vw;
    cursor: pointer;
    position: relative;
}

/* End works */

/* Contact Form */

input[type=text], select, textarea {
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 5px;
    border: solid 1px;
}

label {
    margin-left: 20px;
    margin-top: 20px

}

#message {
    width: 80%;
    height: 20vh;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: vertical;
    border: solid 1px;
}

#email {
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 5px;
    border: solid 1px;
}

#photo-caption {
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing:border-box; 
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 20vh 70vh 20vh 20vh;

    grid-template-areas: 'question'
                         'photo'
                         'contact'
                         'socialmedia';

    left: 20px;

    position: relative;
    grid-gap: 30px;
    width: 90%;
    justify-content: center;
}

#question {
    position: relative;
    grid-area: question;
    font-size: 4vw;
}

#contactme {
    text-align: center;
    color: #EEEEFF;
    grid-area: contact;
    font-size: 4vw;
}

 #casualphoto{
    grid-area: photo;
    border: none;
    display: block;
    background-image: url(../images/casualphoto.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
    
 }

 #contactpage img {
    border: solid 1px;
 }

 #socialmedialinks {
    grid-area: socialmedia;
    text-align: center;

}

#submitbutton {
    border: solid 1px;
    background-color: #0B9FF5;
    border-color: black;
    color: black;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

#contactform {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    border-color: #0B9FF5;
    background-color: #ded3dc;
    color: black;
    font-weight: bold;
    position: relative;
    border-style: solid;
    border-width: 5px;
    width: 90%;
    border-radius: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#contactbox {
    position: relative;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    border-radius: 10px;
}

/*code for .fa styles from w3 schools https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa:hover {
    opacity: 55%;
    border-width: 1px;
    border-style: groove;
  }

/*end contact form */

nav.slideopen {
    top: 0px;
}

nav.slideclosed {
    top: -300px;
}

#flex2 {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    
}

#aboutparagraph {
    position: relative;
    border-style: solid;
    border-width: 5px;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ded3dc;
    border-color: #0B9FF5;
    color: black;
}

/* Begin flip card (code used from https://www.w3schools.com/howto/howto_css_flip_card.asp)*/

.card {
    background-color: transparent;
    width: 80vw;
    height: 80vh;
    perspective: 1000px; 
    -webkit-backface-visibility: hidden;
    backface-visibility:         hidden;
}

#lastcard {
    max-height: 360px;
}



.card-inner {
    position: relative;
    width: 80vw;
    height: 80vw;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.hover .card-inner{
    transform: rotateY(180deg);
}

.grid-image, .flip-image-back {
    position: absolute;
    width: 80vw;
    height: 80vw;
}

.grid-image {
    background-color: #bbb;
    color: black;
    border-radius: 20px;
}

#workspage img {
    border-radius: 20px;
}

.flip-image-back {
    background-color: #0B9FF5;
    color: black;
    transform: rotateY(180deg) translateZ(1px);
    border-radius: 20px;
    
}

.flip-image-back p {
    font-size: 3.75vw;
}

.flip-image-back h1 {
    color: #3A405A;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
    font-size: 5vw;
}

.card:focus .card-inner {
    transform: rotateY(180deg);
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .nav_links {
        align-items: center;
        height: 300px;
        font-size: 30px;
        justify-content: space-around;
        
    }

    nav {
        height: 300px;
        top: -300px;
        transition: 0.3s;
    }

    input[type=text], select, textarea {
        margin: 20px;
    }
    
    label {
        margin: 20px;
    
    }
    
    #message {
        margin: 20px;
    }
    
    #email {
        margin: 20px;
    }

    #submitbutton {
        margin: 20px;
        margin-top: 5px;
    }
  
    label {
        margin-bottom: 5px;
    }
    
  }


  @media only screen and (min-width: 768px) {
    /* For tablet: */
    #hamburger {
        display: none;
    }

    .nav_item {
        display: block;
    }

    .nav_links {
        height: 50px;
        flex-direction: row;
        align-items: center;
        font-size: x-large;
    }

    nav {
        /* margin-top: 20px; */
        top: 0;
        margin-top: 0;
        margin-bottom: 50px;
        position: relative;
        height: 50px;
        /* background-color: #ded3dc; */
    }

    .navcontainer {
        display: block;
    }

    .container {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: 40vw 40vw 40vw 40vw 40vw;
        grid-gap: 20px;
    }

    #homepage .nav_links #home a {
        text-transform: uppercase;
        font-size: xx-large;
    }
    
    #aboutpage .nav_links #about a {
        text-transform: uppercase;
        font-size: xx-large;
    }
    
    #contactpage .nav_links #contact a {
        text-transform: uppercase;
        font-size: 2vw;
    }
    
    #workspage .nav_links #works a {
        text-transform: uppercase;
        font-size: xx-large;
    }


    .topbar {
        display: none;
    }

    #casualphoto {
        left: 0px;
        margin-left: 0;
        width: 100%;
        height: 70%;
    }

    #question {
        font-size: 3.5vw;
    }

    #photo-caption {
        grid-template-columns: 5vw 5vw 10vw 10vw 10vw 10vw 10vw 10vw;
        grid-template-rows: 60vh 15vh;

        grid-template-areas: 'photo photo photo question question contact contact contact'
                         'photo photo photo question question socialmedia socialmedia socialmedia';
        margin: 50px;
        overflow: hidden;
    }

    #casualphoto {
        overflow: hidden;
    }

    #contactme {
        font-size: 4vw;
        text-align: center;
    }

    #contactform{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    .fa {
        font-size: 20px;
        width: 20px;
    }

    .card:hover .card-inner {
        transform: rotateY(180deg);
    }

        /* card, see earlier for code source */

    .card {
        width: 40vw;
        height: 40vw;
    }
        
    .card-inner {
        width: 40vw;
        height: 40vh;
    }
        
    .grid-image, .flip-image-back {
        width: 40vw;
        height: 40vw;
    }

    .flip-image-back p {
        font-size: 2vw;
    }

    .flip-image-back h1 {
        text-shadow: 
            -1px -1px 0 #000,
            -1px 1px 0 #000,
            1px -1px 0 #000,
            1px 1px 0 #000;
    }

    .headshot {
        width: 17%;
    }

    #photo-caption {
        width: 90%;
    }

    #aboutparagraph {
        margin: 0px auto;
    }
    
  }

  @media only screen and (min-width: 1200px) {
      /*For desktop: */
    nav {
        position: fixed;
        /* top: 50px; */
        overflow-x: hidden; /* Disable horizontal scroll */
        min-width: 0;
        flex: auto;
        height: 40vh;
        display: block;
        width: 10%;
        height:fit-content;
        background-color: transparent;
        border: solid 5px #2aa7f0;
        border-radius: 20px;
        left: 20px;
        top: 30px;
        background-color: #ded3dc;
        
    }
    
    main {
        width: 90vw;
        left: 10vw;
    }

    #homepage main {
        width: 100%;
    }

    #aboutpage main, #contactpage main, #workspage main {
        padding: 0px;
        margin-left: 10%;
    }

    #contactpage, #aboutpage, #workspage {
        width: 90%;
    }

    #aboutpage footer {
        left: 14vw;
    }

    #contactpage footer {
        margin-left: 15%;
    }

    #workspage footer {
        left: 15vw;
    }

    .nav_links{
        display: flex;
        left: 0;
        height: 40vh;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content:flex-start;
        text-decoration: none;   
        font-size: x-large;
        box-sizing: border-box;
        background-color: transparent;
    
    }

    #workspage .nav_links #works a {
        color: #2929FF;
        font-size: xx-large;
    }

    #workspage .nav_links #works .nav_item {
        background-color: rgba(122, 99, 118, 0.3);
    }

    #aboutpage .nav_links #about a {
        color: #2929FF;
        font-size: xx-large;
    }

    #homepage .nav_links #home a {
        color: #2929FF;
        font-size: xx-large;
    }

    #contactpage .nav_links #contact a {
        color: #2929FF;
        font-size: 2vw;
    }


    .nav_item {
        flex-basis: 10vh;
        flex-shrink: initial;
        border: white 1px solid;
        width: 10vw;
        box-sizing: border-box;
        padding: 5px;
    }

    #home {
        border-radius: 20px 20px 0 0;
    }

    #contact {
        border-radius: 0 0 20px 20px;
    }

    .nav_item a {
        margin: auto;
        text-align: center;
        vertical-align:middle;
        color: black;
        left: 5px;
    }

    .nav_item:hover {
        cursor: pointer;
        background: rgba(122, 99, 118, 0.3);
    }

    #homepage main {
        top: 50px;
    }

    #hamburger {
        display: none;
    }

    .container {
        grid-template-columns: 25vw 25vw 25vw;
        grid-template-rows: 25vw 25vw 25vw;
        grid-gap: 10px;
        width: 82%;
        left: 8vw;
    }

    .topbar {
        display: none;
    }

    #casualphoto {
        width: 25vw;
        height: 100%;
    } 

    .nav_item a:hover {
        text-decoration: none;
        color: black;
    }

    #question {
        font-size: 2.5vw;
    }

    #contactme {
        font-size: 3vw;
    }

    /* card, see earlier for code source */

    .card {
        width: 25vw;
        height: 25vh;
    }
    
    .card-inner {
        width: 25vw;
        height: 25vh;
    }
    
    .grid-image, .flip-image-back {
        width: 25vw;
        height: 25vw;
    }

    .flip-image-back p {
        font-size: 1.5vw;
    }

    .flip-image-back {
        background-color: #0B9FF5;
    }

    .flip-image-back h1 {
        color: #3A405A;
        text-shadow: 
            -1px -1px 0 #000,
            -1px 1px 0 #000,
            1px -1px 0 #000,
            1px 1px 0 #000;
            font-size: xx-large;
    }

    #photo-caption {
        width: 90%;
        left: 4vw;
    }

    #aboutparagraph {
        width: 90%;
        left: 2vw;
    }

    #contactform {
        left: 2vw;
        width: 92%;
    }

    #flex2 {
        left: 2vw;
        width: 98%;
    }

  }

  @media (prefers-reduced-motion: reduce) {
    #aboutpage, #contactpage, #workspage {
        background-attachment: scroll;

    }

    /*code from here https://dev.webonomic.nl/how-to-disable-css-transforms-transistions-and-animations */
   
    * {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/

        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    #hamburger.open::before {
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
    
    #hamburger.open::after {
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
    
    #hamburger.open div {
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }


  }
